<div class="quizz_container">
  <div class="quizz_logo">
    <img src="../../../assets/images/logo.png" alt="logo buzz feed">
    <h2>{{ title }}</h2>
  </div>

  <div *ngIf="!finished" class="quizz_questions">
    <h3>{{ questionSelected.question }}</h3>
  </div>

  <div *ngIf="!finished" class="quizz_options">
    <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.alias)"
      class="btn-option"
    >
      {{ option.name }}
    </button>
  </div>

  <div *ngIf="finished" class="quizz_results">
    <h3>O seu resultado é: </h3>
    <p>{{ answerSelectd }}</p>
  </div>
</div>
